@page "/chat"
@using Bagged.Data
@using ca.HenrySoftware;
<h1>Chat</h1>
<h2>@name</h2>
<form id="subHeader">
	<span title="Group">👥&nbsp;<input id="groupInput" name="Group" placeholder="Group" value='Default'></span>&nbsp;
	<button id="JoinButton" title="Join" type="submit">👍</button>&nbsp;
	<span title="Topic">📖&nbsp;<input id="topicInput" name="Topic" placeholder="Topic" value='Blah Blah Blah'></span>&nbsp;
	<span title="Status">⚠️&nbsp;<input id="statusOutput" name="Status" placeholder="Status" readonly></span>
</form>
<div id="subMain">
	<ul id="messagesList" title="Messages"></ul>
	<ul id="usersList" title="Users"></ul>
</div>
<form id="subFooter">
	<span title="Name">👤&nbsp;<input id="nameInput" name="Name" placeholder="Name"></span>&nbsp;
	<span title="Message">💬&nbsp;<input id="messageInput" name="Message" placeholder="Message" value="Hello World!?"></span>&nbsp;
	<button id="SendButton" title="Send" type="submit">👍</button>
	<input id="testInput">>
</form>
<ul>
	@foreach (var i in messages)
	{
		<li>@i</li>
	}
</ul>
<input bind="@name" />
<input bind="@message" />
<button onclick="OnSend">Send</button>
@functions {
	private string name = Gename.Name();
	private IList<string> messages = Enumerable.Repeat("abc", 15).ToList();
	private string message;
	private void OnSend()
	{
		messages.Add(message);
	}
	protected override async Task OnInitAsync()
	{
		using (var db = new BaggedContext())
		{
			db.Users.RemoveRange(db.Users);
			for (var i = 0; i < 10; i++)
			{
				var user = new User { Name = Gename.Name() };
				db.Users.Add(user);
				db.SaveChanges();
			}
		}
		await base.OnInitAsync();
	}
}
