@page "/chat"
<h1>Chat</h1>
<ul>
	@foreach (var i in messages)
	{
		<li>@i</li>
	}
</ul>
<input bind="@message" />
<button onclick="OnSend">Send</button>
@functions {
	private IList<string> messages = Enumerable.Repeat("abc", 33).ToList();
	private string message;
	private void OnSend()
	{
		messages.Add(message);
	}
}
