<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">Bagged</a>
	<button class="navbar-toggler" onclick="@ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>
<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="todo">
				<span class="oi oi-list" aria-hidden="true"></span> Todo
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="chat">
				<span class="oi oi-chat" aria-hidden="true"></span> Chat
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="parent">
				<span class="oi oi-box" aria-hidden="true"></span> Parent
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="test">
				<span class="oi oi-box" aria-hidden="true"></span> Test
			</NavLink>
		</li>
	</ul>
</div>
@functions {
	bool collapseNavMenu = true;
	string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
