@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

html,
body {
	font-family: Ubuntu, sans-serif;
}

app {
	position: relative;
	display: flex;
	flex-direction: column;
}

.top-row {
	height: 3.5rem;
	display: flex;
	align-items: center;
}

.main {
	flex: 1;
}

.main .top-row {
	background-color: #e6e6e6;
	border-bottom: 1px solid #d6d5d5;
}

.sidebar {
	background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
	background-color: rgba(0, 0, 0, 0.4);
}

.sidebar .navbar-brand {
	font-size: 1.1rem;
}

.sidebar .oi {
	width: 2rem;
	font-size: 1.1rem;
	vertical-align: text-top;
	top: -2px;
}

.nav-item {
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
	padding-top: 1rem;
}

.nav-item:last-of-type {
	padding-bottom: 1rem;
}

.nav-item a {
	color: #d7d7d7;
	border-radius: 4px;
	height: 3rem;
	display: flex;
	align-items: center;
	line-height: 3rem;
}

.nav-item a.active {
	background-color: rgba(255, 255, 255, 0.25);
	color: white;
}

.nav-item a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
}

.content {
	padding-top: 1.1rem;
}

.navbar-toggler {
	background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type="checkbox"]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

@media (max-width: 767.98px) {
	.main .top-row {
		display: none;
	}
}

@media (min-width: 768px) {
	app {
		flex-direction: row;
	}

	.sidebar {
		width: 250px;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.main .top-row {
		position: sticky;
		top: 0;
	}

	.main > div {
		padding-left: 2rem !important;
		padding-right: 1.5rem !important;
	}

	.navbar-toggler {
		display: none;
	}

	.sidebar .collapse {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}
}

/* ubuntu-regular - latin */
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ubuntu-v13-latin-regular.eot"); /* IE9 Compat Modes */
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
	url("../fonts/ubuntu-v13-latin-regular.eot?#iefix")	format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/ubuntu-v13-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
	url("../fonts/ubuntu-v13-latin-regular.woff") format("woff"), /* Modern Browsers */
	url("../fonts/ubuntu-v13-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/ubuntu-v13-latin-regular.svg#Ubuntu") format("svg"); /* Legacy iOS */
}

/* ubuntu-700 - latin */
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ubuntu-v13-latin-700.eot"); /* IE9 Compat Modes */
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
	url("../fonts/ubuntu-v13-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/ubuntu-v13-latin-700.woff2") format("woff2"),	/* Super Modern Browsers */
	url("../fonts/ubuntu-v13-latin-700.woff") format("woff"), /* Modern Browsers */
	url("../fonts/ubuntu-v13-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/ubuntu-v13-latin-700.svg#Ubuntu")	format("svg"); /* Legacy iOS */
}

:root {
  --padding: 10px;
  --color1: slategray;
  --color2: lightgray;
  --color3: gray;
}

html,
body {
  margin: 0;
  height: 100%;
}
header,
footer {
  padding-left: var(--padding);
}

body {
  display: flex;
  flex-direction: column;
}

span {
  display: flex;
  flex: auto;
  align-items: center;
}

input {
  flex: auto;
}

header,
footer {
  background-color: var(--color1);
}

#subHeader {
  padding: var(--padding);
  background-color: var(--color2);
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  flex: content;
}

#subMain {
  background-color: var(--color3);
  display: flex;
  flex-direction: row;
  flex: content;
  overflow-y: hidden;
}

#subFooter {
  padding: var(--padding);
  background-color: var(--color2);
  display: flex;
  align-items: center;
}

#messagesList {
  overflow-y: scroll;
  flex: auto;
}

#usersList {
  overflow-y: scroll;
  flex: auto;
  min-width: 10%;
  max-width: 33%;
  background-color: darkgray;
}
